.box {
  width: 100px;
  height: :100;
  background-color: yellow;
  box-shadow: 50px 50px;
}

#circle {
  height: 100vh;
  width: 100vw;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 50px 50px;
}
