<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    {{ myname }}
    <h1>{{counter}}</h1>
    {{counter}}
    <div>
      <input v-on:keyup.enter="addTodos" v-model="inputTodo" type="text">
      <h1>{{inputTodo}}</h1>{{inputTodo}}
    </div>
    <h1>
      {{todos[0]}}
    </h1>
    <ul>
      <li v-for="todo in todos">{{todo}}</li>
    </ul>
    <button v-on:click="incrementFunction" >INCREASE COUNTER</button>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        myname: "Ming", 
        counter: 0, 
        inputTodo: 'hi',
        todos: ['CLean FLoor']
      },
      methods: {
        incrementFunction () {
          this.counter = this.counter + 1
        }, 
        addTodos () {
          this.todos.push(this.inputTodo)
        }

      }
    })
  </script>
</body>
</html>
